
// -------------------- Imports --------------------
@import url(https://fonts.googleapis.com/css?family=Roboto);

@import "variables";

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome.scss";


// ------------------- Global --------------------
.right {
  float: right;
}

.red {
  color: $red !important;
}

.green {
  color: $green !important;
}

.red-background {
  background-color: rgba(255, 74, 104, 0.1);

  &:hover {
    background-color: rgba(255, 74, 104, 0.3) !important;
  }
}

.green-background {
  background-color: rgba(60, 188, 152, 0.1);

  &:hover {
    background-color: rgba(60, 188, 152, 0.3) !important;
  }
}

.form-group {
  label {
    color: white;
    font-size: 13px;
    font-weight: normal;
  }

  .active {
    color: $accent;
  }

  .form-control {
    color: white;
    background: none !important;
    border: none !important;
    border-radius: 0;
    border-bottom: 1px solid white !important;
    box-shadow: none !important;
    opacity: 0.65;
    overflow: hidden;
    height: 34px;
    resize: none;

    &:focus {
      box-shadow: none !important;
      border-bottom: 2px solid $accent !important;
      opacity: 1.00;
    }

    &:hover {
      border-bottom: 2px solid white;
      opacity: 1.00;
    }
  }
}

.clickable {
  cursor: pointer;
}

.btn {
  color: white;
  background-color: $accent;
  border-radius: 2px;
  font-weight: bold;
  font-size: 13px;
  width: 80px;

  &:hover, &:focus, &:active {
    color: white;
    outline: none !important;
  }

  &:active {
    opacity: 0.7;
  }

  &:hover {
    -webkit-box-shadow: 0 9px 12px -6px rgba(0,0,0,0.48);
    -moz-box-shadow: 0 9px 12px -6px rgba(0,0,0,0.48);
    box-shadow: 0 9px 12px -6px rgba(0,0,0,0.48);
  }

  &:disabled {
    opacity: 0.25;
  }
}


.alert {
  padding: 9px;
}

.error {
  label, p {
    color: $red !important;
    font-size: 13px;
  }

  p {
    margin-top: -5px;
  }

  .form-group {
    margin-bottom: 10px;

    .form-control {
      border-bottom-color: $red !important;
    }
  }
}

// -------------------- Styles --------------------
html, body {
  background-color: $dark;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  background-color: $dark-grey;
  -webkit-box-shadow: 0 9px 12px -6px rgba(0,0,0,0.48);
  -moz-box-shadow: 0 9px 12px -6px rgba(0,0,0,0.48);
  box-shadow: 0 9px 12px -6px rgba(0,0,0,0.48);

  .logo {
    line-height: 50px;

    a {
      color: white;
    }
  }

  li {
    a {
      text-align: center;
      color: white;
      height: 50px;

      &:hover, &:focus {
        background: none;
        border-bottom: 2px solid white;
      }

      &:active {
        border-bottom: 2px solid $accent;
      }
    }
  }
}

.content {
  margin-top: 65px;

  .center-content {
    padding: 0;
  }

  // -------------------- Left sidebar
  .left-sidebar {
    margin-top: -2px;

    .header {
      color: white;
      font-size: 15px;
    }

    .table {
      border-collapse: separate;
      border-spacing: 0 2px;
      margin-bottom: 15px;

      .empty {
        text-align: center;

        td {
          padding: 10px;
        }
      }

      th, td {
        color: white;
        border: none;
        border-radius: 2px;
        max-width: 177px;
      }

      th {
        background-color: $grey;
        text-transform: uppercase;
        padding: 10px;
        font-weight: normal;
      }

      td {
        padding: 3px 12px;

        .row {
          margin-bottom: -3px;
          margin-top: -3px;
        }

        .ticker {
          font-size: 15px;
        }

        .company-name {
          color: $grey;
          font-size: 11px;
        }

        .current-price {
          line-height: 2.5;
          float: right;
        }

        .movement, .movement-percent {
          font-size: 13px;
          float: right;
        }
      }

      .room-item {
        padding: 8px;
      }

      p {
        margin: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        i {
          font-size: 15px;
        }
      }
    }
  }
}

.panel-group {
  margin-bottom: 15px;
  background-color: $dark-grey;
  border-radius: 2px;

  .panel-header {
    color: white;

    p {
      color: $accent;
      font-size: 16px;
      margin: 0;
      padding: 20px 20px 0;
    }
  }

  .panel-content {
    padding: 20px;
    
    button {
      float: right;
    }
  }

  .nav-tabs {
    border-bottom: 1px solid $grey;

    li {
      margin-bottom: 0;

      &:hover {
        border-bottom: 2px solid $accent;
      }

      a {
        color: white !important;
        background: none !important;
        border: none !important;
      }
    }

    .active {
      border-bottom: 2px solid $accent;
      margin-bottom: -1px;
    }
  }

  .tab-pane {
    .empty {
      color: $grey;
      text-align: center;
      margin: 15px 0 0;
    }
  }
}
